<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CrowdCheer-swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CFEB7E771BF2FB700020FC13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEB7E8B1BF2FB710020FC13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CFEB7E961BF2FB710020FC13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
